{% extends 'layout.html' %}

{% block head_title %}Klick{% endblock %}

{% block body %}

<!--Crear un post-->
<div class="container mt-5">
    <div class="card shadow-lg p-4 border-0">
        <h4 class="mb-4 text-primary">Crear nueva publicación</h4>
        <form method="POST" action="{{ url_for('inicio') }}">
            <input type="hidden" name="form_type" value="post">
            <div class="mb-3">
                <label for="title" class="form-label">Título</label>
                <input type="text" class="form-control" id="title" name="title" placeholder="Ingresá un título..." required style="border: 1px solid #1e83f0;">
            </div>

            <div class="mb-3">
                <label for="content" class="form-label">Contenido</label>
                <textarea class="form-control" id="content" name="content" rows="3" placeholder="Escribí tu contenido..." required style="border: 1px solid #1e83f0; resize: none;"></textarea>
            </div>

            <div class="mb-3">
                <label for="category" class="form-label">Categoria</label>                
                <select name="category" id="category" required>
                    <option value="" disabled selected>Elegir Categoria</option>
                    {% for categoria in categorias  %}
                        <option value="{{ categoria.id }}">{{ categoria.type_category }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="d-grid mb-3">
                <button type="submit" class="btn btn-primary">Publicar</button>
            </div>
        </form>
    </div>
</div>

<!--Mostrar los post-->
<div class="container mt-5">
    <div class="card shadow-lg p-4 border-0">
        {% for post in posts %}
            <div class="card mb-3 shadow-sm p-3">
                <h5>{{ post.autor}}</h5>
                <h4>{{ post.title }}</h4>
                <p>{{ post.content }}</p>
                <p>{{ post.date_time }}</p>
                <p>Categoria: {{ post.category.type_category }}</p>
                <br>

                <!--Comentarios-->
                <div class="card mb-3 shadow-sm p-3">
                    <h5>Comentarios</h5>
                    <div class="card mb-3 shadow-sm p-3">
                    {% for comment in post.comments %}
                        {% if comment.post_id == post.id %} 
                         <h5> {{ comment.autor }}</h5>
                          <p> {{ comment.text_comment }} </p>
                          <p> {{ comment.date_time }} </p>
                      {% endif %}
                    {% else %}
                    <p>Sin Comentarios...</p>
                    {% endfor %}
                    </div>
                
                
                    <form method="POST" action="{{ url_for('inicio') }}">
                        <input type="hidden" name="form_type" value="comment">
                        <input type="hidden" name="post_id" value="{{ post.id }}">
                        <label for="comment" class="form-label"></label>
                        <input type="text" maxlength="200" placeholder="Responder..." name="comment" id="comment">
                        <button type="submit" class="btn btn-primary">Publicar</button>
                    </form>
                </div>
            </div>
        {% else %}
            <p>No hay publicaciones realizadas</p>
        {% endfor %}
    </div>
</div>




{% endblock %}